body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}

.steps-section {
  display: flex;
}

.step-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.step {
  background-color: #ffa552;
  padding: 90px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  margin: 30px;
}

.step-number {
  font-size: 60px;
  color: #fff;
  margin-bottom: 30px;
}
.step-number1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 60px;
}
.number {
  color: #AA9E9E;
  margin-right: 15px;
}
.number.active{
  color: #070101;
}
.step-title {
  margin-top: 20px;
  color: #7b3f14;
  font-size: 35px;
}

  .step-title1 {
  margin-top: 30px;
  color: #7b3f14;
  font-size: 35px;
}

.search-ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 100vh;
}

.search-ingredients .search-header {
  text-align: left;
}

.search-header {
  display: flex;
  padding: 10px;
  font-weight: bold;
  color: #070101;
  font-size: 50px;
  font: 300 50px Inter, sans-serif;
}

.search-title {
  font-size: 80px;
  font-weight: bold;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa552;
  border-radius: 10px;
  margin-top: 0px;
  padding: 20px;
  width: 500px;
  margin-left: 25px;
  cursor: text;
}

.input-group input {
  width: 110%;
  font-size: 30px;
  background: transparent;
  border: 0;
  color: white;
  margin-left: 25px;
}

.input-group input::placeholder {
  color: white;
}

.input-group input:focus {
  outline: none;
}

.search-icon {
  width: 30px;
  height: auto;
}

.coeff-dropdown {
  /* padding: 12px; */
  margin: 0;
  position: relative;
  display: inline-block;
}

.coeff-dropdown p {
  min-width: 70px;
  padding: 27.5px 0;
  padding-left: 20px;
  margin: 0;
  /* border: solid; */
}

.coeff-options {
  display: none;
  position: absolute;
  /* border: solid; */
}

.coeff-dropdown button {
  display: block;
  min-width: 70px;
  height: 25px;
  background-color: whitesmoke;
  border-width: 2px;
  border-color: black;
  border-top: none;
  z-index: 1;
  /* border-radius: 30%; */
}

.coeff-dropdown button:first-child {
  border-top: solid;
}

.coeff-dropdown button:hover {
  background-color: #ff9437;
}



.coeff-dropdown:hover .coeff-options {
  display: inline-block;
}



.row {
  display: flex;
}

#selected-ingredients {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-top: 4.83em;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start
}

.ingredients-section {
  margin-left: 50px;
  padding: 0px;
  justify-content: space-between;
  height: 70vh;
}

.tag {
  padding: 30px;
  background-color:#DDDDDD;
  border-radius: 1000px;
  color: #070101;
  font-size: 30px;
  margin: 5px;
  margin-right: 25px;
  border-top-right-radius: 300px;
}

.tag select {
  background: transparent;
}

#suggestions {
  height: 320px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  margin-left: 60px;
}

.option {
  background-color: transparent;
  border-color: transparent;
  font: 300 30px Inter, sans-serif;
  text-align: left;
  padding-top: 10px;
  margin-top: -10px;
  color: black;
}
.option:not(:first-child) {
  margin-top: 0;
}


.option:hover {
  background-color: rgb(232, 232, 232);
  border-radius: 5%;
}

  .no-option {
    background-color: transparent;
    border-color: transparent;
    font: 300 30px Inter, sans-serif;
    text-align: left;
    padding-top: 10px;
    margin-top: -10px;
  }

  .no-option:not(:first-child) {
    margin-top: 0;
  }

  .find-meal-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .find-meal:hover {
    cursor:pointer;
  }

  .find-meal {
    font-family: Inter, sans-serif;
    color: black;
    border-radius: 80px;
    background-color: #fff;
    border: 4px solid #ffa552;
    padding: 8px 33px;
    font: 500 20px Inter, sans-serif;
    text-decoration: none;
    display: flex;
  }
  .find-meal p{
    margin: 0;
    padding: 0;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  .find-meal p:not(:first-child){
    margin: 0;
    padding: 0;
    animation-name: loading;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  @keyframes loading {
    from {color: transparent;}
    to {color: black;}
  }

  @media only screen and (max-width: 991px) {
      .main-container {
        flex-direction: column;
        padding-left: 2%;
        padding-right: 2%;
      }
    
      .header {
        max-width: 100%;
        flex-wrap: wrap;
      }
    
      .steps-section,
      .step-section {
        flex-direction: column;
        align-content: center;
      }
    
      .step {
        width: 85%;
        padding: 45px;
      }
    
      .step-title,
      .step-title1 {
        font-size: 25px;
        text-align: center;
      }

      .search-ingredients {
        display: block;
        min-height: unset !important;
        margin-top: 100px;
      }
      .search-header {
        font-size: 35px;
        padding-left: 25px;
      }
  
      .number {
        font-size: 35px;;
      }
    
      .search-title {
        font-size: 40px;
        padding-left: 0px;
      }

      .header img {
        height: 60px;
        margin-left: 3%;
      }
  
      .search-ingredients .search-header {
        font-size: 50px;
        text-align: start;
      } 
  
      .input-group {
        width: 100%; 
        padding: 10px; 
        margin: 0 10px; 
      }
    
      .input-group input {
        font-size: 18px; 
        padding: 10px 0; 
        width: 100%; 
        margin-left: 0; 
      }
    
      .row,
      .ingredients-section,
      #suggestions {
        flex-direction: column; 
        align-items:flex-start; 
        padding: 0 10px; 
        
      }
  
      #selected-ingredients {
        flex-direction: row; 
        align-items:flex-start; 
        padding: 0 10px; 
        margin-top: 0;
      }
    
      .tag {
        font-size: 20px; 
        padding: 15px; 
      }
    
      .option,
      .no-option {
        font-size: 20px; 
      }
    
      .find-meal {
        font-size: 16px; 
        padding: 6px 16px; 
      }
      .arrow-link {
        display: none;
      }
      .ingredients-section {
        height: unset;
      }
    }
  .arrow-link {
    color: #7b3f14;
    font-size: 55px;
    margin-top: 100px;
    cursor: pointer;
  }
  .arrow-link:hover {
    color: #ffa552;
  }
  .arrow-link:active {
    color: #ffa552;
  }
#select_hint {
  width: 20px;
}
.hint {
  width: 200px;
  border-color: black;
  border-radius: 5%;
  border-width: 2px;
  border: solid;
  padding: 10px;
  position: absolute;
  background-color: white;
}
.deleter {
  background-color: transparent;
  margin-left: -50px;
  margin-right: 25px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.deleter:hover {
  color: rgb(71, 71, 71);
}
.fa-xmark:before {
  content: "\f00d";
}
.ingredient_deleter {
  display: flex;
  flex-direction: row;
  align-items: start;
}
#search-bar-img {
  cursor: pointer;
}