html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.log-out {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #ffa552; /* Red */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.header .profile {
    margin-top: 0;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}

.links {
    text-align: right;
}

.links a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
}

.links a.active {
    font-weight: bold;
    color: black;
}

.button {
    border: 2px solid #FFA552;
    border-radius: 30px;
    color: black;
    font-size: 12px;
    display: inline-block;
    padding: 5px 12px;
}

.list-rated {
    padding: 25px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-rated-item {
    display: flex;
    margin-bottom: 35px;
}

.list-rated-item .thumbnail img {
    max-width: 100%;
    height: 135px;
}

.list-rated-content {
    padding: 5px 0 10px 50px;
}

.list-rated-content h2 {
    font-size: 20px;
    height: 45px;
}

.list-rated-content .stars {
    display: flex;
    margin-bottom: 40px;
}

.star {
    font-size: 30px;
    color: gray;
    margin-top: 1.2em;
}

.star.filled {
    color: #ffa552;
    margin-top: 1.2em;
}

.recipe_image {
    margin-left: 8%;
    margin-top: .5em;
    margin-bottom: -0.5em;
}

.recipe_title a {
    display: inline-block;
    text-align: left;
    margin-top: 2em;
    color: black;
    font-family: Inter, sans-serif;
    font-size: 1.25em;
}

.recipe {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.recipe-body {
    margin-left: 50px;
    width: 200px;
}

.rating {
    display: flex;
}
.no-liked {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: large;
    margin-top: 100px;
}

.fa-xmark:before {
    content: "\f00d";
}

.deleter {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 30px;
    margin-right: 140px;
}

.buttons {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 80px;
    background-color: #fff;
    border: 2px solid black;
    padding: 0.5px 15px;
}

.buttons button:hover {
    opacity: 0.8;
}

.filter {
    height: 30px;
    margin-top: 10px;
    padding: 10px;
}
.buttons [title]::after {
    content: attr(title);
    display: inline-block;
    position: relative;
    bottom: -1em;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.buttons [title]:hover::after {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .title {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }

    .links {
        text-align: center; /* Center align navigation links */
    }

    .links a {
        display: block; /* Make navigation links full-width */
        margin-bottom: 10px; /* Add space between navigation links */
    }

    .buttons {
        justify-content: center; /* Center align buttons horizontally */
        margin-top: 20px; /* Adjust margin for smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
        flex-wrap: wrap; /* Allow buttons to wrap onto new lines */
    }
    .buttons button {
        font-size: 5px; /* Decrease the font size of the buttons */
        padding: 5px 10px; /* Adjust padding for smaller buttons */
    }

    .sort {
        font-size: 5px; /* Decrease font size for smaller screens */
        padding: 8px 20px; /* Adjust padding for smaller screens */
        margin: 5px; /* Adjust margin for smaller screens */
    }
}

@media only screen and (min-width: 600px) {
    .list-rated {
        width: 600px; /* Maintain the width for larger screens */
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Three items per row */
        /* grid-gap: 70px; */
        margin: 0 auto;
        justify-content: center;
    }
}

