<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login/signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='ingredients.css') }}">
</head>
<body>
    <main class="recipe-container">
        <section class="top-section">
          <div class="content-section">
            <div class="image-section">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d1d1d37b6b401060d045bc67178394ee2af2a8afbab5e12844328cda216efb5e?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Decorative" class="img" />
              <div class="search-header">
                <div class="number active">1</div>
                <div class="number">2</div>
                <div class="number">3</div>
              </div>
            </div>
            <div class="choice-text">Your choice</div>
          </div>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/100b28d4fd6ffe4021200cf3416a9914f51fb01e0ef0e74498730c2d995c23a4?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Decorative" class="img-2" />
        </section>
        <section class="recipe-details">
          <div class="recipe-title">Curried Pumpkin Soup</div>
          <div class="ingredients-section">
            <div class="ingredients-column">
              <img loading="lazy" width="400px" height="300px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/64011abae2a0f9fb05bab62eafd294c4542515dc354f9f10ab9e3c885ae35d7f?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Curried Pumpkin Soup" class="img-3" />
            </div>
            <div>
              <div class="ingredient-text">
                • 2 medium onions, finely chopped (2 cups)<br />
                • 2 tablespoons unsalted butter<br />
                • 2 large garlic cloves, minced<br />
                • 1 1/2 tablespoons minced peeled fresh ginger<br />
                • 2 teaspoons ground cumin<br />
                • 1 teaspoon ground coriander<br />
                • 1/8 teaspoon ground cardamom<br />
                • 1 1/2 teaspoons salt<br />
                • 3/4 teaspoon dried hot red pepper flakes<br />
                • 2 (15-oz) cans solid-pack pumpkin (3 1/2 cups; not pie filling)<br />
                • 4 cups water<br />
                • 1 1/2 cups reduced-sodium chicken broth (12 floz)<br />
                • 1 (14-oz) can unsweetened coconut milk (not low-fat)<br />
                • 1/4 cup olive oil<br />
                • 2 teaspoons brown mustard seeds<br />
                • 8 fresh curry leaves<br />
              </div>
            </div>
          </div>
        </section>
      </main>
</body>