<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liked</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='liked.css') }}">
  </head>
  <body>
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo">
                <img height="91px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc277e0ff378357bda8086eaad29fc23d7c18641518cfe14a929ebc7c8492b5b?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Kitchen scene">
            </a>
            <a href="{{ url_for('logout') }}" >
                <button class="log-out">Log Out</button>
            </a>
        </div>
        <div class="main">
            <h1 class="title">Your profile</h1>
            <div class="links">
                <a class="active" href="/liked">Liked</a>
                <a href="/rated">Rated</a>
            </div>
            <div class="list-liked">
                {% if recipes %}
                {% for recipe,list in recipes.items() %}
                <div class = 'recipe'><a href='/recipe/{{ list["Image_Name"] }}/'>
                    <div class = 'recipe_title'>{{ recipe }}</div>
                    <img class="recipe_image" src="{{ url_for('static', filename='Food Images/' + list['Image_Name']) }}">
                    </a>
                </div>
            </div>
                {% endfor %}
                {% else %}
                    <div class = 'no-liked'><h2>You have not liked any recipes yet</h2></div>
                {% endif %}
            <!-- </div> -->
        </div>
    </div>
  </body>
</html>