<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liked</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='liked.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo">
                <img height="91px" src="/static/icons/logo.svg" alt="Kitchen scene">
            </a>
            <a href="{{ url_for('logout') }}" >
                <button class="log-out">Log Out</button>
            </a>
        </div>
        <div class="main">
            <h1 class="title">Your profile</h1>
            <div class="links">
                <form action="{{ url_for('liked') }}" method="post">
                    <button class="all-deleter" type="submit" name='knopka' value="Delete all liked without rating">Delete all liked without rating</button>
                </form>
                <div>
                    <a class="active" href="/liked">Liked</a>
                    <a href="/rated">Rated</a>
                </div>
            </div>
            <!-- <div class="links">
            </div> -->
            <div class="buttons">
                <form action="{{ url_for('liked') }}" method="post">
                    <button class="sort" type="submit" name='knopka' value="name">Sort by name</button>
                    <button class="sort" type="submit" name='knopka' value="date">Sort by date</button>
                    <button class="sort" type="submit" name='knopka' value="amount">Sort by amount of ingredients</button>
                </form>
            </div>
            <!-- <div class="deleters">
                
            </div> -->
            {% if not recipes %}
            <div class = 'no-liked'><h2>You have no liked recipes</h2></div>
            {% else %}
            <div class="list-liked">
                {% for title,list in recipes.items() %}
                <div class = 'recipe'>
                    <div class="title-deleter">
                        <a href='/recipe/{{ list["Image_Name"] }}/'>
                            <div class = 'recipe_title'><h2>{{ title }}</h2></div>

                        </a>
                        <form action="{{ url_for('liked') }}" method="post">
                            <button class="deleter" type="submit" name='knopka' value='delete:{{ recipe }}'><i class="fa fa-xmark"></i></button>
                        </form>
                    </div>
                    <a href='/recipe/{{ list["Image_Name"] }}/'>
                        <img class="recipe_image" src="{{ url_for('static', filename='Food Images/' + list['Image_Name']) }}">
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
  <script src="{{ url_for('static', filename='liked.js') }}"></script>
  </body>
</html>