<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Steps</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="#">
</head>
<body>
  <main class="main-container">
    <header class="header">
      <a href="/">
        <img height="91px" src="/static/icons/logo.svg" alt="Kitchen scene">
      </a>
      <a href="/login">
          <img width="68px" height="66px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2193b59fbc4b070793fc65289e6c6dc81bbe6734b6043853ba8e7a51ab505019?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Profile">
      </a>
    </header>
    <section class="steps-section">
      <article class="step">
        <div class="step-number1">1</div>
        <div style="height: 60px;">
          <a href="/#search-title">
          <img width="220px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3e41d964c39eb464ac280aa3aec7d6b78d243ee90b0c7a6b8eb06a2a00c33a4?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Ingredients list">
          </a>
        </div>
        <h3 class="step-title1">Enter ingredients you have</h3>
      </article>
      <article class="step">
        <div class="step-number">2</div>
        <img width="120px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e02f40d41bfad7bb030ff8c919a01f4acee683a92552ab86322383037a98d7d0?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Recipe selection">
        <h3 class="step-title">Choose what to cook</h3>
      </article>
      <article class="step">
        <div class="step-number">3</div>
        <img width="110px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b4cb69c8588a5b8d75af5eaa13dd08633194bfd73b483a279c2433b0c0969216?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Cooking instructions">
        <h3 class="step-title">Cook with the detailed recipe</h3>
      </article>
    </section>
    <a href="/#search-title" class="arrow-link"><i class="fa fa-solid fa-arrow-down"></i></a>
    <aside class="search-ingredients">
      <div class="ingredients-section row">
        <div>
          <h2 id="search-title" class="search-title">Choose your <br> ingredients</h2>
          <!-- <div id="select_hint" width="20px">?</div> -->
          <form class="input-group" id="search-form">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e4295edfeb8397e09642439a4471b1d1024a71466603be46ee89612408822000?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Search icon" class="search-icon">
            <input type="text" id="search-bar" placeholder="Search ingredients...", autocomplete="off">
          </form>
          <div id="suggestions">
          </div>
        </div>
        <div id="selected-ingredients">
        </div>
      </div>
      <div class="find-meal-container">
        <button id="find_meal_button" class="find-meal">find a meal</button>
      </div>
    </aside>
  </main>
<script src="{{ url_for('static', filename='search.js') }}"></script>
</body>
</html>
