<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rated</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rated.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo">
                <img height="91px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc277e0ff378357bda8086eaad29fc23d7c18641518cfe14a929ebc7c8492b5b?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Kitchen scene">
            </a>
            <a href="{{ url_for('logout') }}" >
                <button class="log-out">Log Out</button>
            </a>
        </div>
        <div class="main">
            <h1 class="title">Your profile</h1>
            <div class="links">
                <a href="/liked">Liked</a>
                <a class="active" href="/rated">Rated</a>
                <div class="buttons">
                    <form action="{{ url_for('rated') }}" method="post">
                        <button class="sort" type="submit" name='knopka' value="1 star">1<span class="star filled">&#9733;</span></button>
                        <button class="sort" type="submit" name='knopka' value="2 star">2<span class="star filled">&#9733;</span></button>
                        <button class="sort" type="submit" name='knopka' value="3 star">3<span class="star filled">&#9733;</span></button>
                        <button class="sort" type="submit" name='knopka' value="4 star">4<span class="star filled">&#9733;</span></button>
                        <button class="sort" type="submit" name='knopka' value="5 star">5<span class="star filled">&#9733;</span></button>
                    </form>
                </div>
            </div>
                <div id="recipes">
                    {% if recipes %}
                    {% for recipe,list in recipes.items() %}
                    <div class='recipe'>
                        <div class="recipe_image">
                            <a href='/recipe/{{ list["Image_Name"] }}/'>
                                <img class="recipe_image" src="{{ url_for('static', filename='Food Images/' + list['Image_Name']) }}">
                            </a>
                        </div>
                        <div class="recipe-body">
                            <div class='recipe_title'>
                                <a href='/recipe/{{ list["Image_Name"] }}/'>{{ recipe }}</a>
                            </div>
                            <div class="rating">
                                {% for i in range(list['Rating']) %}
                                    <span class="star filled">&#9733;</span>
                                {% endfor %}
                                {% for i in range(5 - list['Rating']) %}
                                    <span class="star">&#9733;</span>
                                {% endfor %}
                            </div>
                        </div>
                        <form action="{{ url_for('rated') }}" method="post">
                            <button class="deleter" type="submit" name='knopka' value='delete:{{ recipe }}'><i class="fa fa-xmark"></i></button>
                        </form>
                    </div>
                    {% endfor %}
                    {% else %}
                        <div class = 'no-liked'><h2>You have not rated any recipes yet</h2></div>
                    {% endif %}
            </div>
        </div>
    </div>
  </body>
</html>