<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rated</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rated.css') }}">
  </head>
  <body>
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo">
                <img height="91px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc277e0ff378357bda8086eaad29fc23d7c18641518cfe14a929ebc7c8492b5b?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Kitchen scene">
            </a>
        </div>
        <div class="main">
            <h1 class="title">Your profile</h1>
            <div class="links">
                <a href="/liked">Liked</a>
                <a class="active" href="/rated">Rated</a>
            </div>
                <div id="recipes">
                    {% if recipes %}
                    {% for recipe,list in recipes.items() %}
                    <div class='recipe'>
                        <div class="recipe_image">
                            <a href='/recipe/{{ list["Image_Name"] }}/'>
                                <img class="recipe_image" src="{{ url_for('static', filename='Food Images/' + list['Image_Name']) }}">
                            </a>
                        </div>
                        <div class="recipe-body">
                            <div class='recipe_title'>
                                <a href='/recipe/{{ list["Image_Name"] }}/'>{{ recipe }}</a>
                            </div>
            
                            <div class="rating">
                                {% for i in range(list['Rating']) %}
                                    <span class="star filled">&#9733;</span>
                                {% endfor %}
                                {% for i in range(5 - list['Rating']) %}
                                    <span class="star">&#9733;</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class = 'No_liked'><h2>You have not rated any recipes yet</h2></div>
                    {% endif %}
            </div>
        </div>
    </div>
  </body>
</html>