<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ recipe.Title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}">
</head>
<body>
  <main class="main-container">
    <header class="header">
        <a href="/" class="left-element">
          <img height="91px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc277e0ff378357bda8086eaad29fc23d7c18641518cfe14a929ebc7c8492b5b?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Logo">
        </a>
        <a href="/login" class="right-element">
          <img width="68px" height="66px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2193b59fbc4b070793fc65289e6c6dc81bbe6734b6043853ba8e7a51ab505019?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Profile">
        </a>
      </header>
      <section class="recipe-details">
        <div class="recipe-title">{{recipe.Title}}</div>
        <div class="ingredients-section">
          <div class="ingredients-column">
            <img class="recipe_image" src="{{ url_for('static', filename='Food Images/' + recipe.Image_Name + '.jpg') }}">
          </div>
          <div class="ingredient-text"> {% for ingradient in recipe.Ingredients.split('; ')%}
            <p> • {{ ingradient }}</p>
          {% endfor %}
          </div>
        </div>
        <div class="recipe-title">Recipe</div>
        <div class="recipe-txt">{% for rec in recipe.Instructions.split('; ') %}
          <p> • {{rec}}</p>
        {% endfor %}
        </div>
      </section>
    </main>
</body>
</html>
