<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login/signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='sign_up.css') }}">
</head>
<body>
  <main class="main-container">
    <header class="header">
      <a href="/">
          <img height="91px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc277e0ff378357bda8086eaad29fc23d7c18641518cfe14a929ebc7c8492b5b?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Logo">
      </a>
    </header>
<div class="div">
  <div class="div-2">
    <div class="column">
          <div class="div-5">Sign up</div>
          <input type="text" class="div-6" placeholder="Email">
          <input type="password" class="div-7" placeholder="Password">
          <form style="align-self: center;">
            <button class="div-8">Sign up</button>
          </form>
    </div>
    <div class="column-2">
      <div class="div-11">Already have an account?</div>
      <a href="/login">
        <button class="div-10">Login Now</button>
      </a>
    </div>
  </div>
</div>
</body>
</html>
