


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Steps</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='tinder.css')}}">
  <script>
    var recipes = '{{ recipes|tojson }}';
  </script>
</head>
<body>
  <main class="main-container">
    <header class="header">
        <a href="/">
          <img height="91px" src="/static/icons/logo.svg" alt="Kitchen scene">
        </a>
        <h1 class="search-title">Choose your meal</h1>
        <div style="width: 250px;">&nbsp;</div>
      </header>
    <div class="icon-container">
      <ion-icon id="dislike" onclick="onDislike()" name="heart-dislike"></ion-icon>
      <div id="swiper"></div>
      <ion-icon id="like" onclick="onLike()" name="heart"></ion-icon>
    </div>
    <div class="find-meal-container">
        <button id="ingredients_button" class="find-meal">liked recipes</a>
    </div>
</main>
<script src="{{ url_for('static', filename = 'card.js' )}}"></script>
<script src="{{ url_for('static', filename = 'swiper.js')}}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>