


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Steps</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='tinder.css')}}">
  <script>
    var recipes = '{{ recipes|tojson }}';
  </script>
</head>
<body>
  <main class="main-container">
    <header class="header">
        <a href="/">
          <img height="91px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc277e0ff378357bda8086eaad29fc23d7c18641518cfe14a929ebc7c8492b5b?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Kitchen scene">
        </a>
        <h1 class="search-title">Choose your meal</h1>
        <div style="width: 250px;">&nbsp;</div>
        <!-- <a href="/login">
          <img width="68px" height="66px" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2193b59fbc4b070793fc65289e6c6dc81bbe6734b6043853ba8e7a51ab505019?apiKey=88acd55e6d6346d7a3b2f206cf68b70d&" alt="Profile">
        </a> -->
      </header>
    <div class="icon-container">
      <ion-icon id="dislike" onclick="onDislike()" name="heart-dislike"></ion-icon>
      <div id="swiper"></div>
      <ion-icon id="like" onclick="onLike()" name="heart"></ion-icon>
    </div>
    <div class="find-meal-container">
        <button id="ingredients_button" class="find-meal">liked recipes</a>
    </div>
</main>
<script src="{{ url_for('static', filename = 'card.js' )}}"></script>
<script src="{{ url_for('static', filename = 'script.js')}}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>